<section id="about" class="m-3 border border-3 rounded bg-light">
          

    <div class="d-flex justify-content-between p-2  rounded ">
      <span class="d-flex align-items-center p-2">
      <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmFjZXxlbnwwfHwwfHx8MA%3D%3D" 
           alt="Ahmad Azmi" class="rounded-circle" style="width: 50px; height: 50px;">
      <div class="mx-2">
          <strong class="d-block">Ahmad Azmi</strong>
          <span class="d-block">Marketing Department</span>
          <small class="text-muted">Junior Accounting Officer</small>
      </div>
    </span>
      <div class="ml-auto">
        <button type="button" class="btn btn-success m-3">New Request</button>
      </div>
    </div>
        
    <div id="user-statistics" class="d-flex flex-wrap">
                <div class="d-flex align-items-center m-3">
                  <i class="fa fa-user"></i>
                  <p class="card-text mx-3"><strong>Reporting To:</strong><br> Salwa Assem</p>
                </div>
              
              <div class="d-flex align-items-center m-3">
                  <i class="fa fa-chart-bar"></i>
                  <p class="card-text mx-2"><strong>Corporate Level:</strong> <br>Level 10</p>
              </div>
              <div class="d-flex align-items-center m-3">
                  <i class="fa fa-clock"></i>
                  <p class="card-text mx-2"><strong>Lifetime:</strong> <br>2.5 Years</p>
              </div>
              <div class="d-flex align-items-center m-3">
                  <i class="fa fa-calendar"></i>
                  <p class="card-text mx-2"><strong>Vacation Days Left:</strong> <br>10 Days</p>
              </div>
              <div class="d-flex align-items-center m-3">
                  <i class="fa fa-plus-circle"></i>
                  <p class="card-text mx-2"><strong>Sick Days Left:</strong> <br>12 Days</p>
              </div>
      </div>


  </section>