<section id="history" class="  m-3 border border-3 rounded bg-light">
    <div class=" m-2">
        
      <h4 ><i class="fa-solid fa-list-check"></i> History</h4>
      <hr class="border-3">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-3">
          <div class="col">
              <div class="p-3 border border-2 rounded bg-white shadow">
                  <h5>Annual Vacation</h5>
                  <p class="list-group-item">2/3/2023 - 10/3/2023 (8 days)</p>
                  <p class="list-group-item">Approved by: Hazem Azmi</p>
              </div>
          </div>
          <div class="col">
              <div class="p-3 border border-2 rounded bg-white shadow">
                  <h5>Sick Vacation</h5>
                  <p class="list-group-item">2/3/2023 - 10/3/2023 (8 days)</p>
                  <p class="list-group-item">Approved by: Hazem Azmi</p>
              </div>
          </div>
          <div class="col">
              <div class="p-3 border border-2 rounded bg-white shadow">
                  <h5>Annual Vacation</h5>
                  <p class="list-group-item">2/3/2023 - 10/3/2023 (8 days)</p>
                  <p class="list-group-item">Approved by: Hazem Azmi</p>
              </div>
          </div>
          <div class="col">
              <div class="p-3 border border-2 rounded bg-white shadow">
                  <h5>Non Paid Vacation</h5>
                  <p class="list-group-item">2/3/2023 - 10/3/2023 (8 days)</p>
                  <p class="list-group-item">Approved by: Hazem Azmi</p>
              </div>
          </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-3 mt-2">
        <div class="col">
            <div class="p-3 border border-2 rounded bg-white shadow">
                <h5>Annual Vacation</h5>
                <p class="list-group-item">2/3/2023 - 10/3/2023 (8 days)</p>
                <p class="list-group-item">Approved by: Hazem Azmi</p>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border border-2 rounded bg-white shadow">
                <h5>Sick Vacation</h5>
                <p class="list-group-item">2/3/2023 - 10/3/2023 (8 days)</p>
                <p class="list-group-item">Approved by: Hazem Azmi</p>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border border-2 rounded bg-white shadow">
                <h5>Annual Vacation</h5>
                <p class="list-group-item">2/3/2023 - 10/3/2023 (8 days)</p>
                <p class="list-group-item">Approved by: Hazem Azmi</p>
            </div>
        </div>

    </div>
      </div>
      <div class="text-end">
        <a href="" class="text-success text-decoration-none fw-bold">View More ></a>
      </div>

    </div>
</section>