<section id="pending-requests" class=" m-3 border border-3 rounded">
    <div class="m-2">
        <h4 class="mb-3"><i class="fa-solid fa-list-check"></i> Pending Requests</h4>
        <div class="row">
          <div class="col-md-4">
            <div class="card shadow">
              <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmFjZXxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top rounded-circle mx-auto mt-2" alt="Employee 1" style="width: 100px; height: 100px;">
              <h5 class="card-title text-center">Ahmad Attar</h5>
              <div class="card-body text-md-left">
                <p class="card-text">Submitted on:<br> <span class="fw-bold">1/3/2024</span></p>
                <p class="card-text">Duration:<br><span class="fw-bold">2 Weeks (1/4/2023 - 14/4/2023)</span> </p>
                <br>
                <p class="card-text">Currently at:<br> <span class="text-success fw-bold">Omar Ahmad</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow">
              <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZmFjZXxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top rounded-circle mx-auto mt-2" alt="Employee 2" style="width: 100px; height: 100px;">
              <h5 class="card-title text-center">Ahmad Attar</h5>
              <div class="card-body text-md-left">
                <p class="card-text">Submitted on:<br><span class="fw-bold">1/3/2024</span></p>
                <p class="card-text">Duration:<br><span class="fw-bold">2 Weeks (1/4/2023 - 14/4/2023)</span></p>
                <br>
                <p class="card-text">Currently at:<br> <span class="text-success fw-bold">Omar Ahmad</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end">
        <a href="vacation-requests" class="text-success text-decoration-none fw-bold">View More ></a>
      </div>
    </section>