
    <div class="card bg-success rounded-4">
      <div class="card-body">
        <div class="d-flex flex-column flex-md-row align-items-center">
          <div class="text-center text-md-left">
            <i class="fa-solid fa-list-check fa-2x mb-3 mt-3"></i>
            <h5 class="card-title">Vacation<br> Requests</h5>
          </div>
          <div class="ml-md-3">
            <p class="card-text mb-0 fa-2x mx-3">10</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="card bg-success rounded-4">
      <div class="card-body text-center">
        <div class="d-flex flex-column flex-md-row align-items-center">
          <div class="text-center text-md-left">
            <i class="fa-solid fa-list-check fa-2x mb-3 mt-3"></i>
            <h5 class="card-title">Leave<br> Requests</h5>
          </div>
          <div class="ml-md-3">
            <p class="card-text mb-0 fa-2x mx-3">10</p>
          </div>
        </div>
      </div>
    </div>
  